<<<<<<< HEAD
<h1>Sistema Coordinador</h1>
<div>
	<h2>Opciones coordinador</h2>
	<ul>
		<li><a href="">Gestión carpetas</a></li>
		<li><a href="">Gestión pensums</a></li>		
	</ul>
</div>

<p>Powered by REVISALO</p>
=======
<title>Coordinador</title>
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
>>>>>>> gemas
