<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @magister.code %>
</p>


<%= link_to 'Edit', edit_magister_path(@magister) %> |
<%= link_to(image_tag("http://www.aquiles.com.ve/images/back_icon_blue.gif"), magisters_path )%>
