<h1>Editing pensum</h1>

<%= render 'form' %>

    <td><%= link_to 'Show', :controller => :subjects, :action => :new, :id => @pensum.id %></td>
<%= link_to(image_tag("http://www.aquiles.com.ve/images/back_icon_blue.gif"), pensums_path )%>
